.swap {
  position: relative;
  display: inline-grid;
  place-content: center;
}

.swap > * {
  grid-column-start: 1;
  grid-row-start: 1;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.swap input {
  appearance: none;
}

.swap .swap-on,
.swap .swap-indeterminate,
.swap input:indeterminate ~ .swap-on,
.swap input:checked ~ .swap-off {
  opacity: 0;
}

.swap input:checked ~ .swap-on,
.swap input:indeterminate ~ .swap-indeterminate {
  opacity: 1;
}
